:root {
  --color-fondo: #6A040F;
  --color-texto: #f3f4fa;
}

.contenedorGeneral {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-fondo);
}

.contenedorGeneral h1 {
  color: var(--color-texto);
  font-size: 50px;
}

.contenedorCuerpo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 10px 10px 40px 10px;
  padding: 10px;
}

.imagen {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  background-image: url("./Imagen/Jony.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorNombreYTitulo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.contenedorNombreYTitulo h2 {
  color: var(--color-texto);
  font-size: 34px;
}

.contenedorNombreYTitulo h3 {
  color: var(--color-texto);
  font-size: 30px;
}

.contenedorParrafos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contenedorParrafos p {
  margin: 5px;
  color: var(--color-texto);
  font-size: 20px;
}

.boton {
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 5px 20px 0px #050e17;
}

.boton:hover{
    box-shadow: 0px 8px #151515;
    cursor: pointer;
}